<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>세광교회 청년부</title>
  <link rel="stylesheet" href="../style/church_community.css" />


  <!-- 사용자 CSS -->
</head>

<body>

  <header class="header">
    <div class="left-box">
      <img src="/img/세광 청년부 로고.jpg" alt="세광교회 청년부 로고" class="logo" />
    </div>
    
    <nav class="nav-links">
      <a href="Youth.html">청년부 소개</a>
      <a href="Department.html">부서 소개</a>
      <a href="#">예배 시간 안내</a>
      <a href="#">이번주 설교</a>
      <a href="#">주보보기</a>
      <a href="#">커뮤니티</a>
    </nav>
    
  </header>
<body>
<nav class="side-menu">
  <ul>
    <li class="active"><a href="church_community.html">마을</a></li>
    <li><a href="pastor.html">사역자및 섬기는 사람들</a></li>
    <li><a href="Department.html">부서 소개</a></li>
    <li><a href="offering.html">온라인 봉헌 안내</a></li>
  </ul>
</nav>
<section class="departments">
  <div class="department">
    <h2 class="department-title">민선 마을</h2>
    <div class="department-content">
      <p class="department-subtitle">마을장이 잼민이입니다.</p>
      <p class="department-description">
        시간이 지날수록 마을의 중요성이 커지고 있습니다. 
        교회의 어린 청년들이 모여 서로의 삶을 나누고, 함께 성장해 나가는 공간이 되고자 합니다.
      </p>
    </div>
  </div>

  <hr class="divider">

  <div class="department">
    <h2 class="department-title">지예 마을</h2>
    <div class="department-content">
      <p class="department-subtitle">재능러들이 모인 마을입니다.</p>
      <p class="department-description">
        다양한 재능을 가진 청년들이 모여 서로의 재능을 나누고,
        다양한 연령층이 모여 있는 마을로, 서로의 경험과 지혜를 나누며 함께 성장해 나가는 공간입니다.
      </p>
    </div>
  </div>

    <hr class="divider">

  <div class="department">
    <h2 class="department-title">석관 마을</h2>
    <div class="department-content">
      <p class="department-subtitle">텐션이 이상하게 높은 마을입니다..</p>
      <p class="department-description">
        언제나 나서기를 좋아하며 다양한 활동을 참여하는 것을 즐기는 청년들이 모여 있는 마을입니다.
        서로의 일주일의 삶을 나누고, 함께 기도하며 서로의 삶을 응원하는 공간입니다.
      </p>
    </div>
  </div>

<hr class="divider">

  <div class="department">
    <h2 class="department-title">우형 마을</h2>
    <div class="department-content">
      <p class="department-subtitle">커플들이 많은 마을입니다.</p>
      <p class="department-description">
        주로 직장인들과 결혼한 청년들이 모여 있는 마을입니다.
        항상 웃으며, 서로의 삶을 응원하고, 함께 기도하며, 다양한 활동을 참여하는 것을 좋아하는 
        청년들이 모여 있는 마을입니다.
      </p>
    </div>
  </div>

<hr class="divider">

  <div class="department">
    <h2 class="department-title">재훈 마을</h2>
    <div class="department-content">
      <p class="department-subtitle">이 교회의 없어서는 안되는 인물들이 계신 마을</p>
      <p class="department-description">
        주로 결혼한 청년들과 청년부에서 없어서는 안되는 인물들이 모여있는 마을입니다.
        청년부의 모든 일정과, 청년부의 모든 활동을 책임지고 있는 마을입니다.
      </p>
    </div>
  </div>
</section>


</body>
</html>