<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>세광교회 청년부</title>
    <link rel="stylesheet" href="../style/offering.css" />


    <!-- 사용자 CSS -->
</head>

<body>

    <header class="header">
        <div class="left-box">
            <a href="index.html">
                <img src="/img/세광 청년부 로고.jpg" alt="세광교회 청년부 로고" class="logo" />
            </a>
        </div>

        <nav class="nav-links">
            <a href="Youth.html">청년부 소개</a>
            <a href="Department.html">부서 소개</a>
            <a href="#">예배 시간 안내</a>
            <a href="#">이번주 설교</a>
            <a href="#">주보보기</a>
            <a href="#">커뮤니티</a>
        </nav>

    </header>

    <body>
        <nav class="side-menu">
            <ul>
                <li><a href="church_community.html">마을</a></li>
                <li><a href="pastor.html">사역자및 섬기는 사람들</a></li>
                <li><a href="Department.html">부서 소개</a></li>
                <li class="active"><a href="offering.html">온라인 봉헌 안내</a></li>
            </ul>
        </nav>

        <section class="offering">
            <p class="intro-text">
                온라인으로 예배드리시는 성도님들은 아래 계좌를 통해 봉헌하실 수 있습니다.
            </p>

            <hr />

            <div class="offering-details">
                <h3>주일헌금 / 십일조 / 건축헌금</h3>
                <p class="account">
                    하나은행 <strong>62191011634205</strong> 대전세광교회
                </p>
                <ul>
                    <li>입금자명에는 봉헌 하시는 분의 이름을 적어주세요. 그리고 01을 넣어주세요</li>
                    <li>목적헌금의 경우 입금자명에 함께 표기해 주세요. (예: 홍길동01, 홍길동건축)</li>
                </ul>
            </div>

            <hr />
        </section>


    </body>

</html>