<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>세광교회 청년부</title>
  <link rel="stylesheet" href="../style/pastor.css" />


  <!-- 사용자 CSS -->
</head>

<body>

  <header class="header">
    <div class="left-box">
      <img src="/img/세광 청년부 로고.jpg" alt="세광교회 청년부 로고" class="logo" />
    </div>
    
    <nav class="nav-links">
      <a href="Youth.html">청년부 소개</a>
      <a href="Department.html">부서 소개</a>
      <a href="#">예배 시간 안내</a>
      <a href="#">이번주 설교</a>
      <a href="#">주보보기</a>
      <a href="#">커뮤니티</a>
    </nav>
    
  </header>
<body>
<nav class="side-menu">
  <ul>
    <li><a href="church_community.html">마을</a></li>
    <li class="active"><a href="pastor.html">사역자및 섬기는 사람들</a></li>
    <li><a href="Department.html">부서 소개</a></li>
    <li><a href="offering.html">온라인 봉헌 안내</a></li>
  </ul>
</nav>


</body>
</html>